.content-wrapper{
    height: calc(100% - 55px);
}

#OC-btn {
    font-weight: 700;
    font-size: 25px;
    padding: 20px 20px;
    text-transform: uppercase;
}

.nav-bar {
    box-sizing: border-box;
    padding: 5px 10px;
    padding-right: 0;
    top:0;
    position: sticky;
    background-color: #9f88f1;
    height: 50px;
    width: 100%;
}
.nav-btn {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: transparent;
    border-radius: unset;
    height: 50px;
    padding: auto 10px;
}

.nav-btn:hover {
    background-color: #b3a2f0;

}

#logout-btn {
    position: absolute;
    right: 0;
    top: 0;
}

#create-btn {
    padding: 10px;
    font-weight: 700;
    text-transform: uppercase
}

