<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/display.css">
    <link rel="stylesheet" href="/css/signin.css">
    <title>Sign In</title>
</head>

<body class="flex jC-center aI-center">
    <div id="sign-in">
        <h3 class="flex jC-center aI-center">Update</h3>
        <form class="flex jC-center fD-column" action="/users/<%- id%>/edit" method="POST">
            <div class="flex jC-sB aI-center base-input">
                <label class="label" for="username">Username</label>
                <input type="text" name="username" placeholder="name" value=<%- username%> >
            </div>
            <div class="flex jC-sB aI-center base-input">
                <label class="label" for="password">Password</label>
                <input type="text" name="password" placeholder="password" value=<%- password%>>
            </div>
            <div class="flex jC-sB aI-center base-input">
                <div class="flex jC-sB aI-center base-input" style="width: 100%">
                    <label for="">Role</label>
                    <div class="flex jc-sE aI-center">
                        <input type="radio" name="role" value="0" 
                            <% if(role==0){
                                %>checked<%
                            }
                            %>
                        >
                        <label class="label" for="no-role">no role</label>
                        <input type="radio" name="role" value="1"
                            <% if(role==1){
                                %>checked<%
                            }
                            %>
                        >
                        <label class="label" for="role-user">user</label>
                        <input type="radio" name="role" value="2"
                            <% if(role==2){
                                %>checked<%
                            }
                            %>
                        >
                        <label class="label" for="role-admin">admin</label>
                    </div>
                </div>
            </div>
            <div class="flex jc-sE aI-center">
                <button class="base-btn" type="submit">Update</button>
                <a href="/users/allusers" class="base-btn">Cancel</a>
            </div>
        </form>
    </div>
</body>