<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/display.css">
    <link rel="stylesheet" href="/css/signin.css">
    <title>Sign In</title>
</head>

<body class="flex jC-center aI-center">
    <div id="sign-in">
        <h3 class="flex jC-center aI-center">ĐĂNG KÝ</h3>
        <form class="flex jC-center fD-column" action="/users/signup" method="POST">
            <div class="flex jC-sB aI-center base-input">
                <label class="label" for="username">Tên đăng nhập</label>
                <input type="text" name="username" placeholder="username" />
            </div>
            <div class="flex jC-sB aI-center base-input">
                <label class="label" for="password">Mật khẩu</label>
                <input type="password" name="password" placeholder="password" />
            </div>
            <% if(hasError==1){ %>
                <span class="flex jC-center aI-center form-error-msg">
                    <%- msg%>
                </span>
                <% } %>
            <button class="base-btn" type="submit">Đăng ký</button>
            <p style="font-size:15px">
                Đã có tài khoản?
                <a href='signin'>Đăng nhập</a>
            </p>
        </form>
    </div>
</body>