<body>
    <div class="center">
    <span>nbmnb</span>
    <h3>SIGN IN</h3>
    <form action="/users/signin" method="POST">
        <div class="field">
        <div class="label" for="username">Username</div>
        <input type="text" name="username" placeholder="name" />
        </div>
        <div class="field">
        <div class="label" for="password">Password</div>
        <input type="password" name="password" placeholder="password" />
        </div>
        <button class="btn" type="submit">Sign In</button>
        <p>
        Don't Have An Account? 
        <a href="/users/signup">Register an account</a>
        </p>
    </form>
    </div>
</body>