<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/base.css" />
    <link rel="stylesheet" href="/css/display.css" />
    <link rel="stylesheet" href="/css/homepage.css" />
    <!-- <script src="./controll.js"></script> -->
    <title>Document</title>
  </head>

  <body class="flex aI-center fD-column">
    <script>
      window.WebSocket = window.WebSocket;
      var connection = new WebSocket("ws://anlozrer.duckdns.org:33000/");
      connection.onopen = function () {
        console.log("Socket connection opened!");
        connection.send(JSON.stringify({action: "requestState"}));
        document.getElementById("OC-btn").disabled=false;

      };
      connection.onerror = function (error) {};
      connection.onmessage = function (msg) {
        notice = document.getElementById("notice")
        console.log("MESG: " + msg.data);
        if (msg.data == "CUA DANG DONG") {
          document.getElementById("statedoor").innerText = "CỬA ĐANG ĐÓNG";
          notice.innerText = ""
          notice.classList.remove("danger")
        } 
        else if (msg.data == "CUA DANG MO") {
          document.getElementById("statedoor").innerText = "CỬA ĐANG MỞ";
        }
        else if (msg.data == "unlock" || msg.data == "lock"){
          // document.getElementById("command").innerHTML = msg.data;
          if (msg.data == "lock"){
            document.getElementById("OC-btn").innerText = "unlock";
            document.getElementById("notice").innerText = "";
          }
          else {
            document.getElementById("OC-btn").innerText = "lock";
          }
          document.getElementById("OC-btn").disabled=true;
        }
        else if (msg.data == "auto") {
          now = new Date();
          document.getElementById("notice").innerText = `CỬA ĐÃ ĐƯỢC TỰ ĐỘNG KHÓA LÚC ${new Date().toLocaleString()}`
        }
        else if (msg.data == "timeout") document.getElementById("notice").innerText = "CỬA ĐÃ MỞ QUÁ 10 GIẤY, VUI LÒNG ĐÓNG CỬA"
        else if (msg.data == "thief") {
          notice.className="danger"
          notice.innerText = "CỬA ĐÃ MỞ DÙ CHỐT KHÓA ĐANG ĐÓNG!"
        } else if (msg.data ==  "timeoutUnlock"){
          document.getElementById("OC-btn").disabled=false
        } else if (msg.data == "timeoutLock"){
          document.getElementById("OC-btn").disabled=true
        } else if (msg.data == "stateUnlock" || msg.data == "stateLock"){
          if (msg.data == "stateUnlock"){
            document.getElementById("OC-btn").innerText = "unlock";
            document.getElementById("notice").innerText = "";
          }
          else {
            document.getElementById("OC-btn").innerText = "lock";
          }
        }
      };

      let cmo = {
        dv: "L",
        st: "unlock",
      };

      let cmc = {
        dv: "L",
        st: "lock",
      };
      function buttonOnclick(event) {
        let state = event.target.innerText;
        if (state.toLowerCase() == "unlock") {
          connection.send(JSON.stringify(cmo));
        } else connection.send(JSON.stringify(cmc));
      }
    </script>
    <nav class="flex jC-fS aI-center nav-bar">
      <img class="flex jC-center" style="height:20px; margin-right: 10px;" src="/image/logo_knock_white.png" alt="">
      <% if(isAdmin){ %>
        <a href="/users/allusers" class="base-btn nav-btn">Quản lý</a>
        <% } %>
      <form action="/users/logout" method="POST">
        <button class="base-btn nav-btn" id="logout-btn" type="submit">Đăng xuất</button>
      </form>
    </nav>
    <div class="content-wrapper flex fD-column aI-center jC-center">
      <p id="statedoor"></p>
      <button class="base-btn" id="OC-btn" onclick="buttonOnclick(event)" disabled>Connecting</button>
      <p id="notice"></p>
    </div>
    
  </body>
</html>
